package ${mapperUrl};

import ${url};
import org.apache.ibatis.annotations.Param;
import java.util.Map;
import java.util.List;

public interface ${name}Mapper {

    int deleteByPrimaryKey(Integer ${primaryKey});

    int insert(${name} record);

    ${name} selectByPrimaryKey(Integer id);

    int updateByPrimaryKey(${name} record);

    List<${name}> query(@Param("map")Map<String, Object> paramMap);

    void deleteBatch(@Param("ids") List<Integer> ids);
}