package ${mapperUrl};

import ${url};
import java.util.HashMap;
import java.util.List;

public interface ${name}Mapper {

    int deleteByPrimaryKey(${primaryType} ${primaryKey});

    int insert(${name} record);

    ${name} selectByPrimaryKey(Integer id);

    int update(${name} record);

    List<${name}> query(HashMap<String, Object> paramMap);
}