package ${serviceUrl};

import java.util.Map;
import java.util.List;
import ${url};
import com.github.pagehelper.PageInfo;


public interface ${name}Service {

    ${name} get${name}(Integer ${primaryKey});

    void save(${name} model);

    void update(${name} model);

    void del(Integer ${primaryKey});

    PageInfo<${name}> query(int currentPage, int itemsPerPage, Map<String, Object> paramMap);

    void deleteBatch(List<Integer> ids);
}