package ${serviceImplUrl};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.HashMap;
import java.util.List;
import ${url};
import ${serviceUrl}.${name}Service;
import ${mapperUrl}.${name}Mapper;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;

@Service
public class ${name}ServiceImpl implements ${name}Service{

    private static final Logger logger = LoggerFactory.getLogger(${name}ServiceImpl.class);

    @Autowired
    private ${name}Mapper mapper;

    @Override
    public ${name} get${name}(${primaryType} ${primaryKey}) {

        ${name} model = mapper.selectByPrimaryKey(${primaryKey});
        if (model == null) {
            logger.error("[get${name}]delete ${name} ${primaryKey}={} fail", ${primaryKey});
            throw new DataNotFoundException("GET data fail");
        }
        return model;

    }

    @Override
    public void save(${name} model) {
        int success = mapper.insert(model);
        if (success <= 0) {
            logger.error("[add${name}]add ${name}={} fail",  model.toString());
            throw new DataNotFoundException("Add data fail");
        }
        return;

    }

    @Override
    public void update(${name} model) {
        int success = mapper.update(model);
        if (success <= 0) {
            logger.error("[update${name}]update ${name}={} fail",  model.toString());
            throw new DataNotFoundException("Modify data fail");
        }
        return;

    }

    @Override
    public void del(${primaryType} ${primaryKey}) {

        int success = mapper.deleteByPrimaryKey(${primaryKey});
        if (success <= 0) {
            logger.error("[delete${name}]delete ${name} ${primaryKey}={} fail", ${primaryKey});
            throw new DataNotFoundException("Del data fail");
        }
        return;

    }

    @Override
    public PageInfo<${name}> query(int pageNum, int pageSize, HashMap<String, Object> paramMap) {
        PageHelper.startPage(pageNum, pageSize);

        return new PageInfo<>(mapper.query(paramMap));
    }

}